@import "tailwindcss";

:root {
   --background: #ffffff;
   --foreground: #171717;
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
}

html {
   scroll-behavior: smooth;
}

body {
   color: #ededed;
   font-family: Arial, Helvetica, sans-serif;
   font-family: "Poppins", sans-serif;
   font-family: "Roboto", sans-serif;
   font-family: "Inter", sans-serif;
}

.active {
   color: #00a8cd;
}

.page-holder {
   background-color: #111927;
   background-image: radial-gradient(
         at 47% 33%,
         hsl(194.05, 100%, 40%) 0,
         transparent 60%
      ),
      radial-gradient(at 82% 65%, hsl(218, 39%, 11%) 0, transparent 55%);

   /* background-color: #111927;
   background-image: radial-gradient(
         at 47% 33%,
         hsl(213.85, 89%, 52%) 0,
         transparent 59%
      ),
      radial-gradient(at 82% 65%, hsl(218, 39%, 11%) 0, transparent 55%); */
}

.home-holder {
   backdrop-filter: blur(25px) saturate(200%);
   -webkit-backdrop-filter: blur(25px) saturate(200%);
   background-color: rgba(17, 25, 40, 0.59);
}

.nav-blur {
   backdrop-filter: blur(25px) saturate(200%);
   -webkit-backdrop-filter: blur(25px) saturate(200%);
   background-color: rgba(17, 25, 40, 0.9);
}

.sec-title {
   display: flex;
   justify-content: center;
   align-items: center;
}
.sec-title h2 {
   font-size: 33px;
   font-weight: 600;
   position: relative;
   width: fit-content;
   padding: 10px 0px;
}
.sec-title span {
   /* color: #00a8cd; */
}
.sec-title h2::after {
   content: "";
   width: 140%;
   height: 2px;
   position: absolute;
   background-color: #00a8cd;
   /* background-image: linear-gradient(to right , #00a8cd, transparent); */
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
}

.skill-card {
   backdrop-filter: blur(25px) saturate(200%);
   -webkit-backdrop-filter: blur(25px) saturate(200%);
   background-color: rgba(17, 25, 40, 0.28);

   border-radius: 12px;
   border: 1px solid #00a8cd;
}

.footer-card {
   backdrop-filter: blur(25px) saturate(200%);
   -webkit-backdrop-filter: blur(25px) saturate(200%);
   background-color: rgba(17, 25, 40, 0.28);
}

.text-line::before {
   content: "";
   background-color: #00a8cd;
   position: absolute;
   width: 70px;
   height: 3px;
   left: 0;
   bottom: 0;
}

.loader {
   color: #fff;
   font-size: 8px; /* قلل الحجم */
   width: 8px;
   height: 8px;
   border-radius: 50%;
   position: relative;
   text-indent: -9999em;
   animation: mulShdSpin 1.3s infinite linear;
   transform: translateZ(0) scale(0.5); /* صغر كمان */
}

@keyframes mulShdSpin {
   0%,
   100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
         0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
   }
   12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
         0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
   }
   25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
         0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
   }
   37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
         0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
   }
   50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
         0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
   }
   62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
         0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
   }
   75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em,
         2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em,
         -2em -2em 0 0;
   }
   87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
         0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
   }
}
